<ng-container *ngIf="ready">
  <header class="d-flex justify-content-center py-3">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{ disabled: disablePrevPage }">
        <button
          class="page-link"
          aria-label="Previous"
          [attr.aria-disabled]="disablePrevPage ? 'true' : 'false'"
          (click)="onPreviousPageButtonClick()"
        >
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li
        class="page-item"
        *ngFor="let questionIndex of questionIdxList"
        [ngClass]="{ active: questionIndex === curQuestionIdx }"
        (click)="onQuestionButtonClick(questionIndex)"
      >
        <button class="page-link">{{ questionIndex + 1 }}</button>
      </li>
      <li class="page-item" [ngClass]="{ disabled: disableNextPage }">
        <button
          class="page-link"
          aria-label="Next"
          [attr.aria-disabled]="disableNextPage ? 'true' : 'false'"
          (click)="onNextPageButtonClick()"
        >
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </header>
  <div class="bd-cheatsheet container-fluid bg-body" *ngIf="curQuestion">
    <section id="forms">
      <fieldset class="mb-3">
        <legend>{{ curQuestionIdx + 1 }}. {{ curQuestion.question }}</legend>
        <div *ngIf="curQuestion.type === singleSelect">
          <div class="mb-3 form-check" *ngFor="let option of curQuestion.options">
            <input
              type="radio"
              name="radios"
              [attr.value]="option.id"
              [attr.id]="option.id"
              class="form-check-input"
              [ngClass]="{
                'is-valid': showAnswer && curQuestion.answer.includes(option.id),
                'is-invalid': showAnswer && option.id === singleSelectAnswer && !curQuestion.answer.includes(option.id)
              }"
              (click)="onRadioClick(option.id)"
            />
            <label class="form-check-label" [attr.for]="option.id">{{ option.detail }}</label>
          </div>
        </div>
        <div *ngIf="curQuestion.type === multipleSelect">
          <div class="mb-3 form-check" *ngFor="let option of curQuestion.options; let optionIndex = index">
            <input
              type="checkbox"
              [attr.id]="option.id"
              class="form-check-input"
              [ngClass]="{
                'is-valid': showAnswer && curQuestion.answer.includes(option.id),
                'is-invalid':
                  showAnswer && multipleSelectAnswers[optionIndex] && !curQuestion.answer.includes(option.id)
              }"
              [(ngModel)]="multipleSelectAnswers[optionIndex]"
            />
            <label class="form-check-label" [attr.for]="option.id">{{ option.detail }}</label>
          </div>
        </div>
      </fieldset>
    </section>
    <div>
      <button type="button" class="btn btn-primary operation-btn" (click)="onSubmitClick()">
        {{ text['exam_submit_answer_btn_label'] }}
      </button>
      <button type="button" class="btn btn-primary operation-btn" (click)="onBackClick()">
        {{ text['exam_submit_back_btn_label'] }}
      </button>
      <button type="button" class="btn btn-primary operation-btn" (click)="onNextClick()">
        {{ text['exam_submit_next_btn_label'] }}
      </button>
    </div>
  </div>
  <div class="explanation" *ngIf="showAnswer && curQuestion.explanation">
    <div class="accordion" id="accordion">
      <div class="accordion-item">
        <h4 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
            [attr.aria-expanded]="explanationExpand ? 'false' : 'true'"
            [ngClass]="{ collapsed: explanationExpand }"
            (click)="onExplanationButtonClick()"
          >
            Explanation
          </button>
        </h4>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordion"
          [ngClass]="{ show: explanationExpand }"
        >
          <div class="accordion-body">
            {{ curQuestion.explanation }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
